/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: darkseagreen; 
}

/* STYLE TEXT */

h1 {
  font-size: 6em;
}

#title {
  color: darkgreen;
  text-align: center;
  font-size: 8em;
  font-family: Times New Roman;
  text-shadow: 3px -2px 1px seagreen;
  margin: 0.5em;
}

#Fact1 {
  color: #fffce9; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

#equal {
  color: #fffce9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6em;
  text-align: center;
}

#Fact1part2 {
  color: #fffce9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  text-align: center
}

#Fact1part3 {
  color: #635813;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 5em;
  text-align: center;
}

#homeimagecredit {
  font-style: italic;
  text-align: right;
  margin-right: 1em;
}

#abouttext {
  color: #fffce9;
  text-shadow: 3px -2px 3px #9c8f40;
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 2em;
  margin-left: 7em;
  margin-right: 7em;
  line-height: 2;
}

#abouttextimage {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 1.5em;
}

#reduceway {
  text-align: center;
  font-size: 2.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #fffce9;
  text-shadow: 3px -2px 3px #9c8f40
}

/* STYLE IMAGES */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-item {
  flex-basis: 100%;
  width: 100%;

}

.flex-container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.homepics {
  width: 75%;
  margin-left: 4em;
  border-radius: 10px;
  border: 5px solid seagreen;
}

#presentation {
  display: block;
  margin: 1em auto;
  height: 500px;
  border-radius: 10px;
  border: 5px solid seagreen;
  margin-bottom: 4em;
}

/* STYLE NAV BAR */

ul {
  list-style-type: none;
  background-color: olivedrab;
  overflow: hidden;
  padding: 1em;
}

li {
   display: inline;
   float: right;
}

li a {
  text-decoration: none;
  font-size: 1.3em;
  padding: 1.2em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #024502;
}

li a:hover {
  background-color: mediumaquamarine;
}

/* STYLE BUTTONS */

#reducewayinfo {
  text-align: center;
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fffce9;
  margin-bottom: 1em;
  font-style: italic;
}

.reducewaycontainer {
  text-align: center;
  background-color: seagreen;
  padding: 1.5em;
  margin-left: 45em;
  margin-right: 45em;
  border-radius: 10px;
}

#button1 {
  background-color: olivedrab;
  padding: 1em;
  font-size: 1em;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-width: 0px;
}

#source {
  text-align: center;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fffce9;
  margin-bottom: 2em;
}

/* ADD MORE! */

@media screen and (max-width: 850px) {
  .flex-container{
    flex-wrap: wrap;
  }

  .flex-container2 {
    flex-wrap: wrap;
  }

  #title {
    font-size: 5em;
  }

  #Fact1 {
    font-size: 2.5em;
    margin-left: 0.7em;
    margin-right: 0.7em;
  }

  #equal {
    font-size: 4em;
  }

  #Fact1part2 {
    font-size: 2.5em;
  }
  
  #Fact1part3 {
    font-size: 3em;
  }

  .nav {
    li a {
      padding: 0.5em;
    }
  }

  #abouttext {
    font-size: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
  }

  #presentation {
    height: 260px
  }

  .reducewaycontainer {
    margin-left: 1em;
    margin-right: 1em;
  }

   #reduceway {
     font-size: 1.5em;
     margin-left: 1em;
     margin-right: 1em;
   }

     li {
    display: block;
    float: center;
    margin-left: 0.5px;
  }

  li a {
    padding: 0.3em;
    font-size: 1.3em;
    margin-right: 0.5em;
    margin-left: 0.2em;
  }
}
